/* Alert box */

.alert {
   width: 400px;
   position: fixed;
   top: 20px;
   right: 20px;
   background-color: #fff;
   color: var(--secondaryBlack);
   font-weight: 500;
   font-size: 14px;
   z-index: 88888;
   padding: 20px;
   gap: 10px;
   border-radius: 5px;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.alert .tick {
   color: #1dbf73;
}

.alert .false {
   color: rgb(253, 26, 49);
}

.alert .cancle {
   position: absolute;
   top: 6px;
   right: 10px;
   font-size: 20px;
   cursor: pointer;
}

/* Navbar */

header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   background-color: transparent;
}

.navbar {
   padding: 15px 0;
}

.link {
   color: #fff;
   font-weight: 500;
   font-size: 16px;
}

.nav-link a:hover {
   color: var(--secondaryBlack);
}

/* footer */
footer {
   background: #2c2c2c;
   color: #898989;
   margin-top: 70px;
}

.footer {
   align-items: start;
   justify-content: space-between;
   display: flex;
   padding-top: 70px;
   padding-bottom: 30px;
}

footer a {
   color: #898989;
}

.footer a:hover {
   color: var(--mainOrange);
}

footer .sub-link {
   align-items: start;
   justify-content: start;
   display: flex;
   flex-direction: column;
}

footer .line {
   width: 90%;
   height: 1px;
   background-color: #464646;
}

footer .copyright {
   padding: 15px 0;
}

footer input {
   height: 35px;
   padding: 5px 10px;
   width: 220px;
   border: none;
   border-radius: 3px 0 0 3px;
}

footer input:focus {
   outline-style: none;
}

footer button {
   height: 35px;
   width: 70px;
   border: none;
   border-radius: 0 3px 3px 0;
   background-color: var(--mainOrange);
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #464646;
}

footer .media i {
   font-size: 24px;
   cursor: pointer;
   /* color: var(--mainOrange); */
   color: #5d5d5d;
}

footer img {
   cursor: pointer;
   opacity: 0.8;
}

footer img:hover {
   opacity: 1;
}
